[{{ rclone_remote_name }}]
type = {{ rclone_type }}
provider = {{ rclone_provider }}
access_key_id = {{ rclone_access_key_id }}
secret_access_key = {{ rclone_secret_access_key }}
region = {{ rclone_region }}
endpoint = {{ rclone_endpoint }}
force_path_style = {{ rclone_force_path_style }}
disable_http2 = {{ rclone_disable_http2 }}
list_version = {{ rclone_list_version }}